<style>
    .main-part-article{
        width: 100%;
        overflow-x: scroll;
    }
    .action-part{
        padding-left: 20px;
    }
    .action-part-top{
        display: flex;
        height: 50px;
        align-items: center;
        margin: 0;
    }
    .action-part-top input{
        width: 150px;
        margin-right: 20px;
    }
    .action-part form{
        flex-direction: column;
    }
    .action-part form div{
        flex-direction: row;
    }
    .action-part table{
        margin: 0;
    }
    .fenyeWrap{
        width: 700px;
    }
</style>
<div class="layui-body">
    <div class="main-part-article"><!--页面主体-->
        <div class="action-part">
            <div class="action-part-top">
                <a class="layui-btn layui-btn-normal layui-btn-small" href="{:url('@system/addPrivilegeView')}">添加特权</a>
            </div>
            <table class="layui-table" id="table" lay-filter="table">
                <thead>
                <tr>
                    <th lay-data="{field: 'u_nickname', width:120, align: 'center'}">特权</th>
                    <th lay-data="{field: 'm_phone', width:180, align: 'center'}">缩略图</th>
                    <th lay-data="{field: 'm_tea_point', width:120, align: 'center'}">需要等级</th>
                    <th lay-data="{field: 'm_point', width:200, align: 'center'}">描述</th>
                    <th lay-data="{field: 'g_name', width:200, align: 'center'}">创建时间</th>
                    <th lay-data="{field: 'm_vipcode', width:300, align: 'center'}">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="privilege" id="vo"}
                <tr>
                    <td>{$vo.p_name}</td>
                    <td><img src="{$vo.p_img}" width="70px;"></td>
                    <td>{$vo.g_name}</td>
                    <td>{$vo.p_introduction}</td>
                    <td>{$vo.create_time}</td>
                    <td>
                        <a class="layui-btn layui-btn-normal layui-btn-mini" href="{:url('@system/editPrivilegeView',['p_id'=>$vo.p_id])}">修改</a>
                        <button class="layui-btn layui-btn-danger layui-btn-mini" onclick="deletePrivilege('{$vo.p_id}')">删除</button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="fenyeWrap">
                <div id="fenye"></div>
                <div>共 {$privilege->total()} 条</div>
            </div>
            <script>
                function deletePrivilege(p_id) {
                    layui.use('layer',function () {
                        var layer = layui.layer;
                        layer.open({
                            type: 1,
                            title: '确认删除',
                            btn: ['确认','取消'],
                            yes: function () {
                                location.href = "{:url('@system/deletePrivilegeOperation')}" + "?p_id=" + p_id;
                            },
                            btn2: function () {
                                layer.closeAll();
                            }
                        })
                    })
                }
                layui.use(['table', 'layer', 'form', 'laydate','laypage'], function () {
                    var table = layui.table;
                    var layer = layui.layer;
                    var form = layui.form;
                    var laydate = layui.laydate;
                    var laypage = layui.laypage;
                    var $ = layui.jquery;
//                    table.init('table',{
//                        width: 1127,
//                        even: true,
//                    })
                    laydate.render({
                        elem: '#chosetime',
                        range: '-',
                    })
                    var queryVar = getAllQueryVariableWithout(['page']);//不包含page的变量字符串
                    laypage.render({
                        elem: 'fenye',
                        count: "{:config('paginate')['list_rows'] * $privilege->lastPage()}", //数据总数
                        limit: "{:config('paginate')['list_rows']}",//每页显示的条数
                        curr: "{$Request.get.page}", //当前页
                        groups: 5, //连续显示分页数
                        layout: ['prev', 'page', 'next', 'skip'],
                        jump: function(obj, first){
                            if(!first){
                                var currPage = obj.curr;//得到了当前页，用于向服务端请求对应数据
                                location.href = "{:url('@system/privilegeManage')}" + queryVar + 'page=' + currPage;
                            }
                        }
                    });
                    form.on('submit(form)',function (data) {

                    })
                });
            </script>
        </div>
    </div>
</div>